.tituloTuEscuela {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }

  .btn {
    width: 200px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 2px solid #05BFAD;
    border-radius: 5px;
    color: #05BFAD;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  .container-content {
    display: flex;
    justify-content: space-between;

  }

  .container-content p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .container-content2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .btn:hover {
    background-color: #05BFAD;
    color: #ffffff;
  }

  .h3 {
    font-size: 20px;
  }

  .loader {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #25b09b;
    --_m:
      conic-gradient(#0000 10%, #000),
      linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
  }

  @keyframes l3 {
    to {
      transform: rotate(1turn)
    }
  }

  @keyframes l15 {
    100% {
      transform: rotate(1turn)
    }
  }

  #listado div h2 {
    margin-top: 10px;
  }

  #listado div p {
    text-align: left;
    margin-bottom: 10px;
  }

  #listado div {
    margin-bottom: 20px;
  }

  .graficaDerecha {
    display: flex;
    flex-direction: column;
    width: 30%;
  }

  #course-card-last-course {
    padding-top: 16px;
    text-align: center;
  }

  .user-info h4 {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .user-info h2 {
    font-size: 18px;
    font-weight: bold;
  }

  .profile-card svg {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }

  .course-card svg {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 15px;
  }

  .profile-card h2,
  .course-card .title-course {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
  }

  .containerCourse progress {
    margin-bottom: 10px;
  }

  .containerCourse .h3 {
    font-size: 14px;
  }

  .profile-card p {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .podio svg {
    width: 100px;
    height: 100px;
  }

  .statistic p {
    font-size: 40px;
    background-color: hwb(0 100% 0% / 0.3);
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  th {
    font-size: 16px;
    font-weight: bold;
  }

  td {
    font-size: 14px;
  }

  .spinerVisible {
    display: block;
  }

  .spinerOculto {
    display: none;
  }

  .loading {
    font-size: 30px;
    padding-left: 20px;
    display: flex;
    text-align: flex-start;
    opacity: 0.2;
  }

  .loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4, end) 900ms infinite;
    animation: ellipsis steps(4, end) 900ms infinite;
    content: "\2026";
    width: 0px;
  }

  @keyframes ellipsis {
    to {
      width: 1.25em;
    }
  }

  @-webkit-keyframes ellipsis {
    to {
      width: 1.25em;
    }
  }

  .background {
    opacity: 0.1;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .logo {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .logo img {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 600px;
  }

  .leaderboard-container {
    background-color: #EFEFEF;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    width: 80vw;
    max-width: 1200px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid #F0F1F5;
  }

  .profile-card {
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    text-align: left;
  }

  .course-card {
    width: 100%;
    padding: 20px;
    border-radius: 20px;
  }

  .table-section {
    width: 68%;
    padding: 20px;
    border-radius: 20px;
    background-color: #ffffff;
    border: 2px solid #F0F1F5;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: 0.3s;
  }

  .table-section div {
    margin-top: 50px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #05BFAD;
    color: white;
  }

  .podio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 95%;
    margin-left: 5%;
    border-radius: 20px;
    background-color: #ffffff;
    border: 2px solid #F0F1F5;
    transition: 0.3s;
  }

  .ganador {
    width: 80%;
    background-color: #006791;
    border: solid 2px white;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 10px;
    transition: 0.3s;
  }

  .segundo {
    width: 80%;
    background-color: #04BFAD;
    border: solid 2px white;
    text-align: center;
    margin-bottom: 30px;
    border-radius: 10px;
    transition: 0.3s;
  }

  .tercero {
    width: 80%;
    background-color: #F5F6FB;
    border: solid 2px white;
    text-align: center;
    margin-bottom: 30px;
    border-radius: 10px;
    transition: 0.3s;
  }

  .ganador h1, .segundo h1{
    color: #FFF;
  }

  .ganador h1,
  .segundo h1,
  .tercero h1 {
    font-size: 18px;
    padding: 15px;
    font-weight: 600;
  }

  .ganador:hover, .segundo:hover, .tercero:hover {
    scale: 1.05;
  }

  .position-circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    background-color: #ffffff;
    border: 2px solid #F0F1F5;
    transition: 0.3s;
  }

  .statistic {
    text-align: center;
    margin-bottom: 20px;
    width: 30%;
    background-color: #ffffff;
    transition: 0.3s;
  }

  #listado {
    width: 80vw;
    display: flex;
    flex-direction: column;
  }

  .list-item {
    margin-bottom: 8px;
    padding: 6px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid #F0F1F5;
  }

  .list-item h2,
  .statistic h2 {
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
  }

  .list-item p {
    margin-left: 5%;
    font-size: 24px;
  }

  .statistic p {
    font-size: 40px;
    background-color: hwb(0 100% 0% / 0.3);
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .user-info {
    width: 48.5%;
    padding: 20px;
    border-radius: 20px;
    background-color: #ffffff;
    border: 2px solid #F0F1F5;
    transition: 0.3s;
  }

  .user-info h2 {
    margin-top: 0;
  }

  .container.par {
    background-color: #F5F6FB;
    color: #000000;
    box-shadow: 5px 5px 5px #F0F1F5;
  }

  .container.impar {
    background-color: #F5F6FB;
    color: #000000;
    box-shadow: 5px 5px 5px #F0F1F5;
  }

  .progreso {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 22.5px;
    align-items: center;
    overflow: hidden;
    margin-bottom: 10px;
  }

  .progreso progress {
    width: 90%;
    height: 20px;
    border: solid 3px white;
  }

  .progreso progress::-webkit-progress-value {
    background-color: #F4B95D;
  }

  .progreso progress::-moz-progress-bar {
    background-color: #F4B95D;
  }

  .containerCourse {
    margin-bottom: 10px;
  }

  .statistics {
    display: flex;
  }

  .statistics div {
    width: 100%;

  }

  .position-circle p {
    font-size: 60px;
    z-index: 2;
    color: #000000;
    font-weight: bold;
    position: absolute;
    margin-top: 20px;
  }

  .course-card div {
    display: flex;
    flex-direction: row;
    align-items: center;

  }

  .course-card div p {
    margin-left: 10px;
    font-size: 18px;
    color: #171717;
  }

  .profile-card{
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  .profile-card .primeraFila, .profile-card .segundaFila, .profile-card .terceraFila{
    display: flex;
    position: relative;
    justify-content: space-evenly;
  }

  .profile-card .primeraFila div, .profile-card .segundaFila div {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 200px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    margin: 1.5% 0;
    background-color: #FFFFFF;
    border: 2px solid #F0F1F5;
    position: relative;
    transition: 0.3s;
    padding: 15px;
  }

  .profile-card .primeraFila div p {
    max-width: 90%;
    overflow: hidden;
  }

  .profile-card .primeraFila div h4 {
    position: absolute;
    top: 0;
    left: 20px;
    color: rgba(41, 41, 41, 0.695);

  }

  .profile-card .primeraFila div svg {
    margin-top: 0px;
  }

  .profile-card .segundaFila p {
    margin: 0px;
    padding: 0px;
    font-size: 36px;
    font-weight: bold;
    color: #05BFAD;
    margin-bottom: -15px;
  }

  .profile-card .segundaFila strong, .profile-card .primeraFila strong{
    font-size: 14px;
    margin-top: 0px;
  }



  .statistic:hover, .position-circle:hover, .podio:hover, .user-info:hover ,.profile-card .primeraFila div:hover, .profile-card .segundaFila div:hover, .profile-card .terceraFila:hover{
    scale: 1.05;
    box-shadow: 0 5px 5px #00000015;
  }

  .table-section:hover {
    scale: 1.03;
    box-shadow: 0 5px 5px #00000015;
  }

  .profile-card h2 {
    font-size: 24px;
    margin-top: 0;
    font-weight: bold;
    padding-left: 2vw;
  }
  

  .profile-card .primeraFila .h3 {
    width: 44%;
  }

  .profile-card .primeraFila .h3 svg {
    min-width: 40px;
    min-height: 40px;
  }

  .terceraFila {
    width: 93.5%;
    font-size: 20px;
    flex-direction: column;
    margin: auto;
    background-color: #FFFFFF;
    border: 2px solid #F0F1F5;
    margin-top: 20px;
    border-radius: 20px;
    transition: 0.3s;
    padding: 20px;
  }

  .terceraFila strong {
    margin: 15px;
    margin-left: 10px;
  }

  .terceraFila progress {
    width: 100%;
    height: 20px;
    border: solid 1px #F0F1F5;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    overflow: hidden;
  }
  
  .terceraFila progress::-webkit-progress-value { background: #05BFAD; }
  .terceraFila progress::-webkit-progress-bar { background: #F5F6FB; }

  .se div strong {
    padding-top: 20px;
  }

  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      width: 90vw;
      margin-top: 10px;
    }

    .profile-card,
    .course-card,
    .table-section,
    .podio,
    .position-circle,
    .user-info,
    .statistic,
    .list-item {
      width: 90%;
      margin-top: 10px
    }

    .logo img {
      margin-top: 10px;
      margin-bottom: 10px;
      width: 400px;
    }

    .statistics {
      width: 90vw;
      display: flex;
      flex-direction: column;

    }

    .graficaDerecha {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

  }

  @media screen and (max-width: 600px) {
    .container {
      width: 95vw;
    }

    .profile-card,
    .course-card,
    .table-section,
    .position-circle,
    .user-info,
    .statistic,
    .list-item {
      width: 95%;
    }

    .podio {
      margin: auto;
      width: 95%;
    }
  
  }

  .star svg {
    width: 100px;
    height: 100px;
  }	

  .textoPosicion2 {
    font-size: 13px;
    margin-top: 10px;
  }	

  .actualPosition {
    position: absolute;
    top: 50%;
    font-size: 20px;
    font-weight: bold;
  }	

  .profile-card .primeraFila button {
  position: absolute;
  bottom: 30px;
  border-radius: 5px;
  background-color: #05BFAD;
}

.profile-card .primeraFila button {
  position: relative;
  top: 0;
  width: 80%;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  align-items: center;
  text-align: center;
  border: 2px solid #05BFAD;
  border-radius: 10px;
  color: #05BFAD;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.profile-card .primeraFila button:hover {
  background-color: #05BFAD;
  color: #ffffff;
}

.moreInfo {
  position: relative;
  top: 0px;
  right: -97%;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  padding: 0px;
  margin: 0px;
}

.moreInfo svg {
  width: 23px;
  height: 23px;
  padding: 0%;
  margin: 0%;
  padding: 2px;
  transition: 0.3s;
  background-color: #05bfac96;
  border-radius: 100%;
}

.moreInfo svg:hover {
  scale: 1.1;
  cursor: pointer;
}

.star div {
  display: none;
}

.profile-card .primeraFila .star .moreInfo{
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-shadow: none;
}

.profile-card .primeraFila .star .moreInfo svg{
  width: 23px;
  height: 23px;
  padding: 0%;
  margin: 0%;
  padding: 2px;
  transition: 0.3s;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal2 {
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%; 
}

.modal-content2 {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%; 
}

.close, .close2 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#course-card-courses {
  margin: 0px;
  padding: 0px;
  font-size: 36px;
  font-weight: bold;
  color: #05BFAD;
  margin-bottom: -15px;
}

#actualPosition {
  position: absolute;
  top: 48%;
  font-size: x-large;
}
